body {
    background-color: darkgray;
  }

.canvas {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

  .container {
    margin: 2vw;
    border: 3px solid black;
  }